.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16,40px);
    grid-template-rows: repeat(16,40px);
    padding: 90px 6px 6px 6px;

    background-color: #6a6a6a;
    border-top: 3px solid #e1e0e0;
    border-left: 3px solid #e1e0e0;
    border-right: 3px solid #535353;
    border-bottom: 3px solid #535353;

}

.topPanel {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    height: 78px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

.boardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

